.schedule {
    table {
        width: 100%;
    }
    .main-card {
        margin: 10px 0;
    }
    .second {
        td {
            width: 20%;
            &:last-child {
                width: 40%;
            }
            button {
                width: 47%;
                margin-right: 1.5%;
                margin-left: 1.5%;
            }
        }
    }
    .main {
        margin-top: 10px;
    }
}
