/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "./styles/globals";
// @import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";

$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// @import '../node_modules/include-media/dist/include-media';
body {
  background-color: #00796B;
}
